
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495340995112'); /* IE9*/
  src: url('iconfont.eot?t=1495340995112#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495340995112') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495340995112') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495340995112#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:32px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before { content: "\e600"; }

.icon-cuowu_1:before { content: "\f600"; }

.icon-quan:before { content: "\e602"; }

.icon-wujiaoxing:before { content: "\e633"; }

.icon-lushi:before { content: "\e605"; }

.icon-fanhui:before { content: "\e67b"; }

.icon-yanse:before { content: "\e6f3"; }

.icon-tiaozhuan:before { content: "\e66b"; }

.icon-mima:before { content: "\e60c"; }

.icon-yaochi:before { content: "\e628"; }

.icon-shui:before { content: "\e606"; }

.icon-feng:before { content: "\e603"; }

.icon-zhengque:before { content: "\e601"; }

.icon-huo:before { content: "\e69f"; }

.icon-shanchu:before { content: "\e60f"; }

.icon-xiugai:before { content: "\e608"; }

.icon-shi:before { content: "\e61e"; }

